.p{
  font-family:Arial;
  margin-top: 0;
  margin-bottom: 0;
}
.row{
  display:flex;
  flex-direction:row;
  align-items:center;
  margin-bottom:20px;
  background-color: gray;
  
}
.profile-picture{
  height:50px;
  width:50px;
  object-fit:cover;
  border-radius: 25px;
  margin-right:15px;
}
.info {
  width: 200px;
  background-color: lightgreen;
}
.name {
  font-weight: bold;
  margin-bottom: 3px;
  background-color: lightpink;
}
.follow-button{
  background-color:rgb(22, 143, 235);
  color:white;
  border:none;
  padding-bottom:10px;
  padding-top:10px;
  padding-right:15px;
  padding-left:15px;
  border-radius:4px;
  cursor:pointer;


}
.follow-button:hover{
  background-color:rgb(16, 110, 188);
}

.category {
  color: rgb(150, 150, 150);
  font-size: 14px;
  background-color: lightpink;
}

.handle {
  color: rgb(150, 150, 150);
  margin-bottom: 3px;
  background-color: lightblue;
}
.emoji{
  animation: emoji 2s infinite;
}
@keyframes emoji{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}