.header{
  height:55px;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  position:fixed;
  top:0;
  right:0;
  left:0;
  background-color: white;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:rgb(232, 224, 224);
   z-index:2;

}
.left-section{
   display:flex;
  align-items:center;
}
.middle-section{
   display:flex;
  flex:1;
  margin-left:70px;
  margin-right:30px;
  max-width:500px;
  align-items:center;
}
.right-section{
width:180px;
display:flex;
margin-right:20px;
flex-shrink:0;/* in this no matter what the itoms do not shrink*/
align-items:center;
justify-content:space-between;
}
.sidebar{
  position:fixed;
  left:0;
  bottom:0;
  top:55px;
  background-color: white;
  width:72px;
  z-index:2;

}
.home{
  height:40px;
} 
.explore{
  height:40px;
}
.suscription{
  height:40px;
}
.originals{
  height:40px;
}
.you-tubemusic{
  height:40px;
}
.library{
  height:40px;
}